@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15151c;
}

/* fonts */
@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-UltraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/public/fonts/Geist-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

* {
  outline: none;
}


html,body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: none;
  font-family: "Inter", sans-serif!important;
  outline: none;
  cursor: default!important;
}

button { cursor: default!important; }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state='open'],
.DialogContent[data-state='open'] {
  animation: fadeIn 300ms ease-out;
}

.DialogOverlay[data-state='closed'],
.DialogContent[data-state='closed'] {
  animation: fadeOut 300ms ease-in;
}

.blur-fade-move-animation {
  animation: blurFadeMove 1s ease-out forwards;
  filter: blur(10px);
  opacity: 0;
}

@keyframes blurFadeMove {
  0% {
      opacity: 0;
      filter: blur(10px);
  }
  50% {
      opacity: 0.5;
      filter: blur(5px);
  }
  100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
  }
}

/* Shine */
.shine-full-page-loader:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 2s infinite;
  /* animation-delay: 2ms; */
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(209,196,244,0) 0%, rgba(152, 107, 243, 0.8) 50%, rgba(107,140,243,0) 99%, rgba(107,140,243,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(209,196,244,0)), color-stop(50%,rgba(155, 107, 243, 0.8)), color-stop(99%,rgba(107,140,243,0)), color-stop(100%,rgba(107,140,243,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(150, 107, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(107, 108, 165, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(180, 107, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(209,196,244,0) 0%,rgba(107, 116, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1c4f4', endColorstr='#006b8cf3',GradientType=1 ); /* IE6-9 */
}

.shine-basic:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 2s forwards;
  /* animation-delay: 2ms; */
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: linear-gradient(to right, rgb(33 29 41 / 0%) 0%, rgba(36, 17, 78, 0.8) 50%, rgba(107, 140, 243, 0) 99%, rgba(107, 140, 243, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1c4f4', endColorstr='#006b8cf3',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

/* styles.css */
.DropdownMenuContent {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.DropdownMenuContent[data-side='top'] {
  animation-name: slideUp;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-hero-heading {
  text-wrap: nowrap;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="592" height="76" fill="none"><g clip-path="url(%23a)"><path fill="%233E79EA" d="M0 0h592v76H0z"/><g filter="url(%23b)" style="mix-blend-mode:plus-lighter"><path stroke="url(%23c)" stroke-linecap="round" stroke-linejoin="round" stroke-width="150" d="M-303-163 409 97"/></g><g filter="url(%23d)" opacity=".7" style="mix-blend-mode:plus-lighter"><path stroke="url(%23e)" stroke-linecap="round" stroke-linejoin="round" stroke-width="110" d="M-248-275 448 6"/></g></g><defs><linearGradient id="c" x1="456" x2="-284.464" y1="136" y2="34.349" gradientUnits="userSpaceOnUse"><stop offset=".058" stop-color="%235200FF"/><stop offset=".413" stop-color="%233400CA" stop-opacity="0"/></linearGradient><linearGradient id="e" x1="565.211" x2="-306.156" y1="-137.324" y2="175.617" gradientUnits="userSpaceOnUse"><stop offset=".036" stop-color="%23fff"/><stop offset=".383" stop-color="%23fff" stop-opacity="0"/></linearGradient><filter id="b" width="946.047" height="494.039" x="-420.023" y="-280.02" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_1857_4631" stdDeviation="21"/></filter><filter id="d" width="890.031" height="475.031" x="-345.016" y="-372.016" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_1857_4631" stdDeviation="21"/></filter><clipPath id="a"><path fill="%23fff" d="M0 0h592v76H0z"/></clipPath></defs></svg>');
  background-position: 50%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-balance {
    text-wrap: balance;
}

/* Two */
.button-shine {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.button-shine:hover {
  background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.gradient-animation {
  animation: 1.2s cubic-bezier(0.6, 0, 0.15, 1) 0.3s 1 normal both running runningAnimation;
    width: 176px;
    height: 176px;
    background: conic-gradient(from 230.29deg at 51.63% 52.16%, rgb(36, 0, 255) 0deg, rgb(255, 0, 153) 67.5deg, rgb(255, 29, 29) 198.75deg, rgb(158, 245, 27) 251.25deg, rgb(80, 53, 255) 301.88deg, rgb(255, 30, 255) 360deg);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -65px;
    left: 0px;
    right: 0px;
    filter: blur(16px);
    text-align: center;
    color: rgb(255, 0, 0);
}

@keyframes runningAnimation {
  0% {
    transform: scale(0.5, 0.2);
    opacity: 0;
    animation-timing-function: ease-in;
  }


  20% {
    transform: scale(0.6, 0.9);
    opacity: 1;
  }

  100% {
    transform: scale(20, 0.3);
    opacity: 0;
  }
}


/* 
.glowing::before{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 20s linear infinite;
} */

.DropdownMenuContent {
	transform-origin: var(--radix-dropdown-menu-content-transform-origin);
	animation: scaleIn 0.1s ease-out;
}

@keyframes scaleIn {
	from {
		opacity: 0.5;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}


.check {
  --border-radius: 6px;
    --border-width: 3px;
    --outline-offset: 3px;
    --outline-width: 2px;
    --outline-color: #579bfd;
    --initial-scale: 0.5;
    --fill-spring: linear(0, 0.0011 0.45%, 0.0095 1.36%, 0.0357, 0.0753, 0.1255 5.44%, 0.2472 8.17%, 0.6267 15.88%, 0.7426 18.6%, 0.8258, 0.896 23.13%, 0.963, 1.0123, 1.046 31.3%, 1.0609, 1.0708 34.93%, 1.077, 1.078, 1.075 41.73%, 1.0677 44.45%, 1.0316 53.98%, 1.0168 58.52%, 1.0067, 0.9999 66.68%, 0.9954 71.67%, 0.9939 77.12%, 0.9992 99.8%) .664s;
    --fill-spring: linear(0, 0.0033 0.81%, 0.027 2.42%, 0.0916 4.84%, 0.4745 15.32%, 0.6422 20.97%, 0.7175, 0.7789, 0.8283 30.64%, 0.876, 0.9111 38.71%, 0.941, 0.9611 48.39%, 0.9707, 0.978 54.84%, 0.9885 62.1%, 0.9949 70.97%, 0.9982 82.26%, 0.9997 100%) 0.4980s;
    display: block;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    margin-top: 0.2em;
    position: relative;
    border-radius: var(--border-radius);
    container-type: inline-size;
}

.check::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: opacity 0.2s ease;
  border: var(--border-width) solid #fff;
}

.check .fill {
  background: #7368F5;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: opacity ease 0.2s;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .check .fill {
    border-radius: max(0px, (var(--border-radius) - (100cqw * var(--initial-scale) / 2)) / var(--initial-scale));
    scale: var(--initial-scale);
    transition: opacity ease 0.2s, scale var(--fill-spring),
      border-radius var(--fill-spring);
  }
}

.check .fill svg {
  height: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .check .fill svg path {
    transition: stroke-dashoffset linear(0, 0.0089 1.34%, 0.0665 4.01%, 0.4534 14.71%, 0.6529 21.39%, 0.7147 24.06%, 0.7899 28.08%, 0.8297 30.75%, 0.8768, 0.9116 38.77%, 0.9438, 0.9646, 0.9779 54.81%, 0.9879 61.5%, 0.9948 70.86%, 0.9981 81.55%, 0.9996 98.93%) 0.3868s;
    stroke-dashoffset: 1;
  }
}

input[type="checkbox"]:checked:not(:focus-visible) + .check::before {
  opacity: 0.31;
}

input[type="checkbox"]:checked + .check .fill {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  input[type="checkbox"]:checked + .check .fill {
    border-radius: inherit;
    scale: 1;
  }
}

input[type="checkbox"]:checked + .check .fill svg path {
  stroke-dashoffset: 0;
  transition-delay: 33ms;
}

input[type="checkbox"]:focus-visible + .check {
  box-shadow: 0 0 0 var(--outline-offset) var(--bg),
    0 0 0 calc(var(--outline-offset) + var(--outline-width))
      var(--outline-color);
}

input[type="checkbox"]:focus-visible + .check,
input[type="checkbox"]:focus-visible + .check * {
  transition: none;
}

.label:hover .check::before {
  opacity: 0.31;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: start;
  gap: 1.25rem;
  user-select: none;
  color: #f3f3f3;
}

.checkbox-label .text {
  display: block;
  font-weight: 600;
}

input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}


@keyframes gloss-shine {
  0% {
    background: rgba(255, 255, 255, 0);
    transform: translateX(-100%);
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    transform: translateX(100%);
  }
}

div.created-now[data-now] {
  position: relative;
  overflow: hidden;
}

div.created-now:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  animation: gloss-shine 2s forwards; /* Adjust duration as needed */
}
