@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
}

html,body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: none;
  font-family: "Inter", sans-serif!important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state='open'],
.DialogContent[data-state='open'] {
  animation: fadeIn 300ms ease-out;
}

.DialogOverlay[data-state='closed'],
.DialogContent[data-state='closed'] {
  animation: fadeOut 300ms ease-in;
}

.blur-fade-move-animation {
  animation: blurFadeMove 1s ease-out forwards;
  filter: blur(10px);
  opacity: 0;
}

@keyframes blurFadeMove {
  0% {
      opacity: 0;
      filter: blur(10px);
  }
  50% {
      opacity: 0.5;
      filter: blur(5px);
  }
  100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
  }
}

/* Shine */
.shine-full-page-loader:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 2s infinite;
  /* animation-delay: 2ms; */
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(209,196,244,0) 0%, rgba(152, 107, 243, 0.8) 50%, rgba(107,140,243,0) 99%, rgba(107,140,243,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(209,196,244,0)), color-stop(50%,rgba(155, 107, 243, 0.8)), color-stop(99%,rgba(107,140,243,0)), color-stop(100%,rgba(107,140,243,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(150, 107, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(107, 108, 165, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(209,196,244,0) 0%,rgba(180, 107, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(209,196,244,0) 0%,rgba(107, 116, 243, 0.8) 50%,rgba(107,140,243,0) 99%,rgba(107,140,243,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1c4f4', endColorstr='#006b8cf3',GradientType=1 ); /* IE6-9 */
}

.shine-basic:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 2s forwards;
  /* animation-delay: 2ms; */
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: linear-gradient(to right, rgb(33 29 41 / 0%) 0%, rgba(36, 17, 78, 0.8) 50%, rgba(107, 140, 243, 0) 99%, rgba(107, 140, 243, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1c4f4', endColorstr='#006b8cf3',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

/* styles.css */
.DropdownMenuContent {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.DropdownMenuContent[data-side='top'] {
  animation-name: slideUp;
}
.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-hero-heading {
  text-wrap: nowrap;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="592" height="76" fill="none"><g clip-path="url(%23a)"><path fill="%233E79EA" d="M0 0h592v76H0z"/><g filter="url(%23b)" style="mix-blend-mode:plus-lighter"><path stroke="url(%23c)" stroke-linecap="round" stroke-linejoin="round" stroke-width="150" d="M-303-163 409 97"/></g><g filter="url(%23d)" opacity=".7" style="mix-blend-mode:plus-lighter"><path stroke="url(%23e)" stroke-linecap="round" stroke-linejoin="round" stroke-width="110" d="M-248-275 448 6"/></g></g><defs><linearGradient id="c" x1="456" x2="-284.464" y1="136" y2="34.349" gradientUnits="userSpaceOnUse"><stop offset=".058" stop-color="%235200FF"/><stop offset=".413" stop-color="%233400CA" stop-opacity="0"/></linearGradient><linearGradient id="e" x1="565.211" x2="-306.156" y1="-137.324" y2="175.617" gradientUnits="userSpaceOnUse"><stop offset=".036" stop-color="%23fff"/><stop offset=".383" stop-color="%23fff" stop-opacity="0"/></linearGradient><filter id="b" width="946.047" height="494.039" x="-420.023" y="-280.02" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_1857_4631" stdDeviation="21"/></filter><filter id="d" width="890.031" height="475.031" x="-345.016" y="-372.016" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_1857_4631" stdDeviation="21"/></filter><clipPath id="a"><path fill="%23fff" d="M0 0h592v76H0z"/></clipPath></defs></svg>');
  background-position: 50%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}